/*
CORES
#D92B04
#45858C
#A0D9D9
#D9C589
#BF9765

#8C1C3A
#BF244E
#F2A88D
#D9765F
#BF8821

font-family: 'Caveat', cursive;
font-family: 'EB Garamond', serif;
font-family: 'Marhey', cursive;
font-family: 'Mynerve', cursive;
font-family: 'Roboto', sans-serif;
*/